<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <bean id="regionManager" class="edu.javacourse.spring.bean.RegionManager">
        <property name="name" value="I am region manager"/>
        <property name="number" value="5"/>
    </bean>

    <bean id="cityManager" class="edu.javacourse.spring.bean.CityManager">
        <property name="name" value="I am city manager"/>
        <property name="number" value="5"/>
    </bean>


    <bean id="peopleManager" class="edu.javacourse.spring.bean.PeopleManager">
        <property name="name" value="I am people manager"/>
        <property name="number" value="5"/>
    </bean>

    <bean id="buildingManager" class="edu.javacourse.spring.bean.BuildingManager">
        <property name="name" value="I am building manager"/>
        <property name="number" value="5"/>
    </bean>


    <bean id="log" class="edu.javacourse.spring.aspect.Logging"/>

    <aop:config>
        <aop:aspect id="log" ref="log">

            <aop:pointcut id="getAnything" expression="execution(* edu.javacourse.spring.bean.RegionManager.get*(..))"/>
            <aop:before pointcut-ref="getAnything" method="doBeforeGetAnything"/>

        </aop:aspect>
        <aop:aspect id="log" ref="log">
            <aop:pointcut id="actionWithCity"
                          expression="execution(* edu.javacourse.spring.bean.CityManager.*City(..))"/>
            <aop:after pointcut-ref="actionWithCity" method="doAfterAnyActionCity"/>
        </aop:aspect>

        <aop:aspect id="log" ref="log">
            <aop:pointcut id="allRegionManagerMethods"
                          expression="execution(* edu.javacourse.spring.bean.RegionManager.*(..))"/>
            <aop:before pointcut-ref="allRegionManagerMethods" method="doBeforeAnyActionRegion"/>
        </aop:aspect>

    </aop:config>


</beans>