<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <category name="edu.javacourse">
        <priority value="debug"/>
        <appender-ref ref="consoleAppender"/>
    </category>

    <category name="org.springframework">
        <priority value="debug"/>
        <appender-ref ref="consoleAppender"/>
    </category>

</log4j:configuration>