<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

   <session-factory>

      <!-- Database connection settings -->
       <property name="connection.driver_class">org.postgresql.Driver</property>
       <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/region_db</property>
       <property name="connection.username">postgres</property>
       <property name="connection.password">postgres</property>

      <!-- JDBC connection pool (use the built-in) -->
      <property name="connection.pool_size">1</property>

      <!-- SQL dialect -->
       <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

      <!-- Enable Hibernate's automatic session context management -->
      <property name="current_session_context_class">thread</property>

      <!-- Disable the second-level cache -->
<!--      <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->

      
      <!-- Enable the second-level cache -->
      <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="generate_statistics">true</property>
      <property name="cache.use_structured_entries">true</property>
      <property name="cache.use_query_cache">true</property>
      

      <!-- Echo all executed SQL to stdout -->
      <property name="show_sql">true</property>
      <property name="format_sql">true</property>

       <property name="hbm2ddl.auto">update</property>

      <!-- Mapping files -->
      <mapping class="edu.javacourse.hibernate.Region"/>

   </session-factory>

</hibernate-configuration>
