<html>
<head>
    <title>Test Html</title>
</head>
<body>
<table>
    #set ($rowCount = 1)
    #foreach($product in $products)
        #if ($rowCount % 2 == 0)
            #set ($bgcolor = "#FFFFFF")
        #else
            #set ($bgcolor = "#CCCCCC")
        #end
        <tr>
            <td bgcolor="$bgcolor">$product.Name</td>
            <td bgcolor="$bgcolor">$product.Price</td>
        </tr>
        #set ($rowCount = $rowCount + 1)
    #end
</table>
</body>
</html>
