<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="regionManager" class="edu.javacourse.spring.bean.RegionManager">
        <property name="name" value="Simple region manager"/>
        <property name="number" value="5"/>
    </bean>


    <bean id="beforeAdvice" class="edu.javacourse.spring.advice.BeforeMethod"/>
    <bean id="afterAdvice" class="edu.javacourse.spring.advice.AfterMethod"/>
    <bean id="aroundAdvice" class="edu.javacourse.spring.advice.AroundMethod"/>
    <bean id="throwAdvice" class="edu.javacourse.spring.advice.ThrowException"/>


    <bean id="regionProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="regionManager"/>
        <property name="interceptorNames">
            <list>
                <value>beforeAdvice</value>
            </list>
        </property>
    </bean>
</beans>