<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


    <servlet>
        <servlet-name>booksServlet</servlet-name>
        <servlet-class>ru.gemini.security.BooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>ru.gemini.security.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forceLoginServlet</servlet-name>
        <servlet-class>ru.gemini.security.ForceLoginServlet</servlet-class>
        <init-param>
            <param-name>redirectUrl</param-name>
            <param-value>/books</param-value>
        </init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>booksServlet</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forceLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>401</error-code>
        <location>/auth/401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/auth/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/auth/404.jsp</location>
    </error-page>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>user</web-resource-name>
            <url-pattern>/order</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>login</web-resource-name>
            <url-pattern>/login</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/auth/login.jsp</form-login-page>
            <form-error-page>/auth/error.jsp</form-error-page>
        </form-login-config>
    </login-config>


</web-app>
