<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="consoleLog" class="org.apache.log4j.ConsoleAppender">
            <param name="target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{ISO8601} [%C{1}] - %m%n" />
		</layout>
	</appender>

	<category name="edu.javacourse">
		<priority value="all" />
        <!-- all, trace, debug, info, warn, error, fatal, off -->
                <appender-ref ref="consoleLog" />
	</category>
        
        <category name="org.hibernate">
            <priority value="debug" />
            <appender-ref ref="consoleLog" />
        </category>

	<root></root>

</log4j:configuration>