<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
        >

    <bean name="DAOImpl" class="ru.gs.test.springfirst.dao.DAOImpl" scope="prototype">
        <property name="name" value="My super dao"/>
    </bean>

    <bean name="ManagerImpl" class="ru.gs.test.springfirst.bl.ManagerImpl">
        <property name="isTrue" value="true"/>
        <property name="name" value="My super manager"/>
        <property name="dao" ref="DAOImpl"/>
    </bean>

    <bean name="ViewImpl" class="ru.gs.test.springfirst.view.ViewImpl">
        <property name="count" value="234"/>
        <property name="name" value="My super view"/>
        <property name="manager" ref="ManagerImpl"/>
    </bean>

</beans>