<html>
<body>

<div style="font-size:small;">
    Вы получили это письмо, так как ваш электронный адрес был указан при подписке на новости от <a target="_blank"
                                                                                                   href="http://admhmao.ru">Портала
    Ханты-Мансийского округа - Югры</a>.
    Если вы не желаете получать обновления или не вводили свой адрес, проигнорируйте данное письмо.
</div>
<br/>

<div>
    Для того, чтобы подписаться на рассылку обновлений от Портала Ханты-Мансийского округа - Югры, перейдите по ссылке:
    <br/>
    ${subscribe_link}
</div>
</body>

</html>
