<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="command" class="edu.javacourse.spring.bean.Command" scope="prototype">
        <property name="state" value="Simple State for Command"/>
    </bean>

    <bean id="commandManager" class="edu.javacourse.spring.bean.CommandManager">
        <lookup-method name="createCommand" bean="command"/>
    </bean>

</beans>