<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns="http://www.springframework.org/schema/integration"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

    <channel id="inputChannel"/>

    <beans:bean id="date" class="edu.javacourse.spring.integration.Util"/>

    <inbound-channel-adapter ref="date" method="currentDate" channel="inputChannel">
        <poller fixed-rate="2000"/>
    </inbound-channel-adapter>

    <service-activator input-channel="inputChannel" ref="logger" method="log"/>

    <beans:bean id="logger" class="edu.javacourse.spring.integration.Logger"/>

</beans:beans>