<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <bean id="regionManager" class="edu.javacourse.spring.bean.RegionManager">
        <property name="name" value="Simple region manager"/>
        <property name="number" value="5"/>
    </bean>


    <!--<bean id="beforeAspect" class="edu.javacourse.spring.aspect.BeforeAspect"/>-->

    <!--<bean id="afterAspect" class="edu.javacourse.spring.aspect.AfterAspect"/>-->

    <!--<bean id="afterReturnAspect" class="edu.javacourse.spring.aspect.AfterReturningAspect"/>-->

    <!--<bean id="afterThrowAspect" class="edu.javacourse.spring.aspect.AfterThrowAspect"/>-->

    <bean id="aroundAspect" class="edu.javacourse.spring.aspect.AroundAspect"/>


</beans>