<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="annotated" class="edu.javacourse.spring.bean.SpringAnnotated"/>

    <bean id="testSpringBean" class="edu.javacourse.spring.bean.SpringTest">
        <property name="number" value="1230"/>
        <!--Comment next line to see Required annotation effect-->
        <property name="child" ref="dependedBean"/>
        <property name="otherChild">
            <ref local="dependedBean"/>
        </property>
    </bean>

    <!--Uncomment this and comment Qualifier to see Autowired exception-->
    <!--<bean id="testSpringBean2" class="edu.javacourse.spring.bean.SpringTest">-->
    <!--<property name="number" value="1230"/>-->
    <!--<property name="child" ref="dependedBean"/>-->
    <!--<property name="otherChild">-->
    <!--<ref local="dependedBean"/>-->
    <!--</property>-->
    <!--</bean>-->

    <bean id="dependedBean" class="edu.javacourse.spring.bean.SpringTestChild">
        <property name="hello" value="Hello, world!"/>
    </bean>

    <!-- Инициализация через аннотации - надо указать пакет -->
    <context:component-scan base-package="edu.javacourse.spring.bean"/>

    <!-- Загрузка файла свойств -->
    <util:properties id="springProperties" location="classpath:spring.properties"/>

</beans>