<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:annotation-config/>
    <!--Scan package for controllers -->


    <bean id="projectDao" class="ru.expomap.test.dao.AbstractDaoImpl">
        <constructor-arg>
            <value>ru.expomap.test.model.Project</value>
        </constructor-arg>
    </bean>

    <bean id="userDao" class="ru.expomap.test.dao.AbstractDaoImpl">
        <constructor-arg>
            <value>ru.expomap.test.model.User</value>
        </constructor-arg>
    </bean>


    <bean id="taskDao" class="ru.expomap.test.dao.AbstractDaoImpl">
        <constructor-arg>
            <value>ru.expomap.test.model.Task</value>
        </constructor-arg>
    </bean>


</beans>