<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="ru.test.struts2.entity.Account"/>
        <mapping class="ru.test.struts2.entity.Person"/>
        <mapping class="ru.test.struts2.entity.Transfer"/>
    </session-factory>
</hibernate-configuration>
