<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="testSpringBean" class="edu.javacourse.spring.bean.SingletonBean" scope="singleton">
        <property name="number" value="1230"/>
        <property name="child" ref="dependedBean"/>
    </bean>

    <bean id="dependedBean" class="edu.javacourse.spring.bean.PrototypeBean" scope="prototype">
        <property name="hello" value="Hello, world!"/>
    </bean>


    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="custom">
                    <bean class="edu.javacourse.spring.bean.CustomScope"/>
                </entry>
                <entry key="thread">
                    <bean class="edu.javacourse.spring.bean.ThreadScope"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="customScopeBean" class="edu.javacourse.spring.bean.ThreadScopeBean" scope="thread">
    </bean>

</beans>