<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' debug="true">

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="1KB"/>
        <param name="maxBackupIndex" value="2"/>
        <param name="file" value="logfile.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <category name="edu.javacourse">
        <!--all, trace, debug, info, warn, error, fatal-->
        <priority value="all"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="consoleAppender"/>
    </category>

</log4j:configuration>